/* segoe */
@font-face{
    font-family: 'jokerman';
    src: url('../fonts/JOKERMAN.TTF');
    
}
@font-face{
    font-family: 'dasher';
    src: url('../fonts/DasherDeer-x37e0.ttf');
    
}
