/* segoe */
@font-face{
    font-family: 'jokerman';
    src: url('../fonts/JOKERMAN.TTF');
    
}
@font-face{
    font-family: 'dasher';
    src: url('../fonts/DasherDeer-x37e0.ttf');
    
}
@font-face{
    font-family: 'Euclid Flex';
    src: url('../fonts/EuclidFlex-Regular.ttf');
    
}
@font-face{
    font-family: 'Euclid Flex';
    src: url('../fonts/EuclidFlex-Regular.ttf');
    
}
@font-face{
    font-family: 'Christmas Glitter';
    src: url('../fonts/Christmas\ Glitter\ ttf.ttf');
    
}